doctype html(lang='en')
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title  DOCTOR LOGIN 
    meta(name='viewport', content='initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    |   
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/layout.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    |   
    script(type='text/javascript', src='/js/wow.min.js')
  body
    .header_landing_page.wow.fadeInDown
      .container
        .row
          .col-sm-3.col-xs-6
            .logo
              h1
                a(href='#') Logo
          |       
          .col-sm-9.col-xs-6
            .navbar.navbar-default.menu_n
              .navbar-header
                span.main_text_menu Menu 
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  i.fa.fa-bars
                .navbar-collapse.collapse
                  .navmenus
                    ul
                      li
                        a(href='examination.htm') Examination
                      |           
                      li
                        a(href='reports.html') Reports
                      |           
                      li
                        p.welcomeadmin Welcome Doctor
                      | &#x9;&#x9;  
                      |           
                      li.profile_dropdwon
                        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
                          img.defaultimage(src='/image/noimage.png')
                          |  
                          span
                            b.caret
                        |  
                        |            
                        ul.dropdown-menu
                          li
                            a(href='profile.html') Profile
                          |             
                          li
                            a(href='changepassword.html') Change Password
                          |             
                          li
                            a(href='doctor_login.htm') Logout
                      | &#x9;&#x9;  
                      li#date
    // content
    .sign_in
      .container
        .row
          .hole_max.wow.fadeInLeft
            .section_vertical
              .section_one
                .form_group
                  label Old Password
                  |      
                  input(type='password', name='oldpassword', placeholder='')
                |   
                .form_group
                  label New Password
                  |      
                  input(type='password', name='newpassword', placeholder='')
                |    
                .form_group
                  label Confirm Password
                  |      
                  input(type='password', name='repassword', placeholder='')
              |   
              .login_btn
                .two_btn
                  a.login_button.submit(type='submit', value='Submit') Submit
                  |      
                  a.login_button.reset(type='reset', value='Reset') Reset
    // end
    .footer.wow.fadeInUp
      .container
        .row
          .col-sm-3
          |        
          .col-sm-12
            p.footer_content Copyright 2017.All Rights Reserved.
