doctype html(lang='en')
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title  EXAM1 
    meta(name='viewport', content='initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    |   
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/jquery-ui.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/jquery-ui.js')
    |   
    script(type='text/javascript', src='/js/wow.min.js')
    script.
      $( function() {
      $( "#datepicker" ).datepicker();
      } );
    script.
      $( function() {
      $( "#datepickers" ).datepicker();
      } );
  body
    .header_landing_page.wow.fadeInDown
      .container
        .row
          .col-sm-2.col-xs-6
            .logo
              h1
                a(href='#') Logo
          |       
          .col-sm-10.col-xs-6
            .navbar.navbar-default.menu_n
              .navbar-header
                span.main_text_menu Menu 
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  i.fa.fa-bars
                .navbar-collapse.collapse
                  .navmenus
                    ul
                      li
                        a(href='examination.htm') Examination
                      |           
                      li
                        a(href='reports.html') Reports
                      |           
                      li
                        p.welcomeadmin Welcome Doctor
                      | &#x9;&#x9;  
                      |           
                      li.profile_dropdwon
                        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
                          img.defaultimage(src='noimage.png')
                          |  
                          span
                            b.caret
                        |  
                        |            
                        ul.dropdown-menu
                          li
                            a(href='profile.html') Profile
                          |             
                          li
                            a(href='changepassword.html') Change Password
                          |             
                          li
                            a(href='doctor_login.htm') Logout
                      | &#x9;&#x9;  
                      li#date
    .doctor_exam
      .container
        .row
          .full_bg
            .col-sm-12
              .latets
                h3
                  | From 
                  input#datepicker.datepickerses(type='text')
                  |  
                  i.fa.fa-calendar
                  |  
                  span To
                  |  
                  input#datepickers.datepickerser(type='text')
                  i.fa.fa-calendar
                  |  
                  input(type='text', name='')
                  i.fa.fa-search
            |         
            .col-sm-12
              .latets
                label
                  | Doctor Name: 
                  span Agutsin
                |  
                label Address: 80, Tvk Street
    |   
    |   
    .more_cnt.wow.fadeInLeft
      .container
        .row
          h3 Examination Room - 1
          |   
          ul.nav.nav-tabs
            li.active(data-toggle='modal', data-target='#myModal')
              a(data-toggle='tab', href='#home')
                i.fa.fa-microphone
                |  
                span Record
            //
              <li><a data-toggle="tab" href="#menu1"><i class="fa fa-file-audio-o"></i> <span>Library</span></a></li>
              <li><a data-toggle="tab" href="#menu2"><i class="fa fa-search"></i> <span>Search</span></a></li>
            li.audio-btn
              a(data-toggle='tab', href='#collapse1') Audio
          #collapse1.panel-collapse.collapse.most_colpses
            .panel-body
              .audio_up
                a.audiofiles(href='#') Home
                |              
                a.editfiles(href='#') Edit
              |           
              .audios
                .tripple_btns
                  ul
                    li
                      i.fa.fa-microphone
                    |                 
                    li.start
                      a(href='') Start
                    |                 
                    li.pause
                      a(href='') Pause
                    |                 
                    li.stop
                      a(href='') Stop
                |             
                audio(controls='', autoplay='')
          |   
          .tab-content
            #home.tab-pane.fade.in.active
              .table-responsive
                table.table
                  thead
                    tr
                      th Date
                      |         
                      th File Number
                      |         
                      th Duration
                      |         
                      th
                        h4 Status
                        |  
                        label Recording
                        |  
                        label Scribe
                  |     
                  tbody
                    tr
                      td 20.12.17
                      |         
                      td 1
                      |         
                      td 10.00
                      |         
                      td
                    |       
                    tr
                      td 20.12.17
                      |         
                      td 1
                      |         
                      td 10.00
                      |         
                      td
                    |       
                    tr
                      td 20.12.17
                      |         
                      td 1
                      |         
                      td 10.00
                      |         
                      td
    |  
    .footer.wow.fadeInUp
      .container
        .row
          .register_footer
            .col-sm-12
              p.footer_content Copyright 2017.All Rights Reserved.
            |    
            .col-sm-3
