doctype html(lang='en')
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title  FORGET PASSWORD DOCTOR
    meta(name='viewport', content='initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    |   
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/layout.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    |   
    script(type='text/javascript', src='/js/wow.min.js')
  body
    .login_form.forget_password_start
      // header
      .header.wow.fadeInDown
        .container
          .row
            .logo
              h1
                a(href='') Forgot Password
      // end
      .sign_in
        .container
          .row
            .hole_max.wow.fadeInLeft
              .section_vertical
                .section_one
                  .form_group
                    label.frgt Enter Your Email Address
                    |     
                    input(type='text', placeholder='', name='login')
                    |     
                    .two_btn
                      a.login_button.change-password(href='doctor_login.htm') Submit
                      |     
                      a.logut_button.change-password(href='doctor_login.htm') Login
      // footer
      .footer.wow.fadeInUp(style='visibility: visible; animation-name: fadeInUp;')
        .container
          .row
            .col-sm-3
            |  
            |       
            .col-sm-12
              p.footer_content Copyright 2017.All Rights Reserved.
      // end
