doctype html(lang='en')
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title  DOCTOR LOGIN 
    meta(name='viewport', content='initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    |   
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/layout.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    |   
    script(type='text/javascript', src='/js/wow.min.js')
  body
    .login_form
      // header
      .header.wow.fadeInDown
        .container
          .row
            .col-sm-3
              .logo
                h1
                  a(href='#') Logo
            | &#x9;
            .col-sm-9
              .logo
                h1
                  a(href='') Doctor  Login
      // end
      // content
      .sign_in
        .container
          .row
            .col-md-12
              .col-md-6
                .hole_max.wow.fadeInRight
                  .section_vertical
                    .section_ones
                      img.img-responsive(src='/images/doctor.jpg', alt='Doctor')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .col-md-6
                .hole_max.wow.fadeInLeft
                  .section_vertical
                    .section_one
                      form.form-horizontal(role='form')
                        .form-group
                          label.col-sm-3.control-label.use(for='userid') User Id
                          |                     
                          .col-sm-9
                            input#uerid.form-control(type='text', placeholder='')
                        |                 
                        |                 
                        .form-group
                          label.col-sm-3.control-label.use(for='password') Password
                          |                     
                          .col-sm-9
                            input#password.form-control(type='password', placeholder='Password')
                        |                 
                        |                 
                        .form-group
                          .col-sm-9.col-sm-offset-3
                            .checkbox
                              label
                                input(type='checkbox')
                                | Keep me signed in
                        // /.form-group
                        .login_btn
                          .two_btn
                            a.login_button(href='examination.htm') Login
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   
                          a.forget_password.firsttimeregister(href='forgotpassword_dctr_login.html') Forgot your User Id/Password? 
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   
                          a.forget_password.firsttimeregister(href='register.htm') First Time User Register Now 
        // end
        // footer
        .footer.wow.fadeInUp
          .container
            .row
              .register_footer
                .col-sm-12
                  p.footer_content Copyright 2017.All Rights Reserved.
                | &#x9; 
                .col-sm-3
        // end
