body {font-family: Open Sans;font-size:14px;}

/*login*/
.header {background:#3BA1DA;}

.rept1{
font-size:24px;}
.logo h1 {margin:20px 0px;text-align:center;}
.rept{
margin-top:9px;}
.logo a {color: #fff; text-decoration: none;}
.sign_in .hole_max {margin:6% auto; max-width: 600px;}
.form_group {margin-bottom: 15px;}
.form_group > label {font-size: 16px; font-weight: 500; margin-bottom: 10px;}
.use{float:left;}
.cal{
margin-top:0px;margin-left:6px;}
.cbg{
background-color:#74b449 !important;}
.logg
{
width:39%;
float:left;
}
.anch > a{
color:#428bca !important
}
.login_btn > label {font-weight: normal; padding-left: 5px; vertical-align: middle;}
.sign_in .form_group > input {border: 1px solid #ddd; height: 38px; padding: 10px; width: 100%; margin-bottom:10px;}
/*.two_btn > a {background-color: #3ba1da; border-radius: 24px; color: #fff; display: inline-block; padding: 15px 10px; text-align: center; width: 34%;text-decoration:none;}*/
.two_btn > a { background-color: #3ba1da;border-radius: 3px;color: #fff;display: inline-block;padding: 13px 0px;text-align: center;width:20%;margin-left: 13px;text-decoration: none;}
.two_btn > a.logut_button {background-color: #ededee; color: #333;margin-left:14px;}
.forget_password {color: #aaa; display: table; margin: 20px auto 0; text-align: center;}
.footer {background-color: #3ba1da; bottom: 0; padding: 20px 0; width: 100%;height: auto; margin-top: -3.33px; position:absolute}
.footer_content p {color: #fff; margin: 12px 0; text-align: left;}
.register_btn > a {background:transparent; border: 1px solid #fff; border-radius: 3px; color: #fff; display: inline-block; padding: 10px 30px; text-decoration: none;}
.register_footer .col-sm-8.col-xs-8 {padding-left: 0;}
.register_footer {margin: 0 auto; max-width: 600px;}
.two_btn {margin-top: 0px;
    margin: 0 auto;
    text-align: center;}
.frgt{
width:100% !important}
/*end*/

